<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="Quản lý khách hàng"
            sequence="10"/>
        <menuitem name="Khách hàng"
            id="menu_khach_hang"
            parent="menu_root"
            sequence="1"
            action="action_khach_hang"
        />
        <menuitem name="Phản hồi"
            id="menu_phan_hoi"
            parent="menu_root"
            sequence="3"
            action="action_phan_hoi"
        />
    </data>
</odoo>