<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="Quản lý công việc"
            sequence="11"/>

        <menuitem name="Công việc"
            id="menu_cong_viec"
            parent="menu_root"
            sequence="1"
            action="action_cong_viec"
        />

        <menuitem name="Xử lý khiếu nại"
            id="menu_xu_ly_khieu_nai"
            parent="menu_root"
            sequence="4"
            action="action_xu_ly_khieu_nai"
        />
    </data>
</odoo>